.deps/
.dirstamp
.libs/
INSTALL
Makefile.in
README
aclocal.m4
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
m4/*
missing
stamp-*
/busactd
/test-busactd
/test-busactd-dbus-send
*~
*.a
*.cache
*.html
*.la
*.lo
*.log
*.o
*.plist
*.pyc
*.stamp
*.swp
*.trs
/Makefile
/TAGS
