[Unit]
Description=On Bus activator for system
Requires=dbus.socket
After=dbus.socket

[Service]
Type=dbus
BusName=org.tizen.busactd
User=system_fw
Group=system_fw
SmackProcessLabel=System
ExecStart=/usr/lib/busactd/busactd
Restart=on-failure

[Install]
WantedBy=multi-user.target
